<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eb.pcshop.manager.dao.OrderCustomMapper">
  <sql id="Base_Column_List">
    o.oid,o.oname,o.otime,o.pname,o.pcount, o.privce, o.oaddress,o.uid, o.oflag, o.odesc,
    o.aid, p.pname as productname,u.uname as username,a.aname as adminname
  </sql>


  <sql id="Where_Clause">
    <where>
      o.oflag != 0
      <if test="query != null and query.title != null and query.title != ''">
        AND o.oname LIKE '%${query.title}%'
      </if>
      <!--<if test="query != null and query.title != null and query.title != ''">-->
        <!--AND productname LIKE '%${query.title}%'-->
      <!--</if>-->
      <!--<if test="query != null and query.title != null and query.title != ''">-->
        <!--AND adminname LIKE '%${query.title}%'-->
      <!--</if>-->
      <!--<if test="query != null and query.title != null and query.title != ''">-->
        <!--AND username LIKE '%${query.title}%'-->
      <!--</if>-->
    </where>
  </sql>

  <select id="countOrder" resultType="_long">
    SELECT COUNT(1)
    FROM tab_order o
    <include refid="Where_Clause" />
   </select>

  <select id="listOrderByPage"
          resultType="com.eb.pcshop.manager.pojo.po.OrderCustom">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tab_order o LEFT JOIN tab_product p ON o.pname=p.pid LEFT JOIN tab_user u ON o.uid=u.uid LEFT JOIN  tab_admin a ON o.aid=a.aid
    <include refid="Where_Clause" />  ORDER BY o.otime DESC
    LIMIT #{page.offset},#{page.limit}
  </select>

  <select id="queryorderbyid"  resultType="com.eb.pcshop.manager.pojo.po.OrderCustom">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tab_order o LEFT JOIN tab_product p ON o.pname=p.pid LEFT JOIN tab_user u ON o.uid=u.uid LEFT JOIN  tab_admin a ON o.aid=a.aid
    where oid = #{oid}
  </select>
  <!--删除订单-->
  <update id="removeOrder">
    update tab_order SET oflag = 0 where oid = #{oid}
  </update>

  <!--增加订单-->
    <insert id="addorder" parameterType= "com.eb.pcshop.manager.pojo.po.OrderCustom">
      insert into tab_order (oid,oname,uid,oaddress)
      values (
      #{oid,jdbcType=INTEGER},
      #{oname,jdbcType=VARCHAR},
      #{uid,jdbcType=INTEGER},
      #{oaddress,jdbcType=VARCHAR}
   )
    </insert>
  <!--编辑订单-->
  <update id="editorder" parameterType= "com.eb.pcshop.manager.pojo.po.OrderCustom">
    update tab_order set
    oname=#{oname,jdbcType=VARCHAR},
    oaddress=#{oaddress,jdbcType=VARCHAR}
    where oid = #{oid}
  </update>

</mapper>