<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eb.pcshop.manager.dao.TabUserCustomerMapper" >

  <!-- 获取某个年龄段用户 -->
    <select id="listUsersByAgeRange" resultType="com.eb.pcshop.manager.pojo.po.TabUser">

      SELECT  * FROM  tab_user where age BETWEEN  #{age_min} AND  #{age_max}

    </select>
  <!-- 获取到一周内会员注册的人数 -->
  <select id="getVipCount" resultType="com.eb.pcshop.manager.pojo.po.TabUser" >

    SELECT * FROM tab_user  WHERE DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= DATE(registertime) and vip =1;

  </select>


</mapper>