<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eb.pcshop.portal.dao.PictureMapper" >
  <resultMap id="BaseResultMap" type="com.eb.pcshop.portal.pojo.po.Picture" >
    <constructor >
      <idArg column="picid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="picName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="picflag" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    picid, picName, url, cid, picflag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.eb.pcshop.portal.pojo.po.PictureExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tab_lunbo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tab_lunbo
    where picid = #{picid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tab_lunbo
    where picid = #{picid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.eb.pcshop.portal.pojo.po.PictureExample" >
    delete from tab_lunbo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eb.pcshop.portal.pojo.po.Picture" >
    insert into tab_lunbo (picid, picName, url, 
      cid, picflag)
    values (#{picid,jdbcType=INTEGER}, #{picname,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{cid,jdbcType=INTEGER}, #{picflag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.eb.pcshop.portal.pojo.po.Picture" >
    insert into tab_lunbo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="picid != null" >
        picid,
      </if>
      <if test="picname != null" >
        picName,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="picflag != null" >
        picflag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="picid != null" >
        #{picid,jdbcType=INTEGER},
      </if>
      <if test="picname != null" >
        #{picname,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="picflag != null" >
        #{picflag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eb.pcshop.portal.pojo.po.PictureExample" resultType="java.lang.Integer" >
    select count(*) from tab_lunbo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tab_lunbo
    <set >
      <if test="record.picid != null" >
        picid = #{record.picid,jdbcType=INTEGER},
      </if>
      <if test="record.picname != null" >
        picName = #{record.picname,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.picflag != null" >
        picflag = #{record.picflag,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tab_lunbo
    set picid = #{record.picid,jdbcType=INTEGER},
      picName = #{record.picname,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      cid = #{record.cid,jdbcType=INTEGER},
      picflag = #{record.picflag,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.eb.pcshop.portal.pojo.po.Picture" >
    update tab_lunbo
    <set >
      <if test="picname != null" >
        picName = #{picname,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="picflag != null" >
        picflag = #{picflag,jdbcType=INTEGER},
      </if>
    </set>
    where picid = #{picid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eb.pcshop.portal.pojo.po.Picture" >
    update tab_lunbo
    set picName = #{picname,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER},
      picflag = #{picflag,jdbcType=INTEGER}
    where picid = #{picid,jdbcType=INTEGER}
  </update>
</mapper>