<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eb.pcshop.portal.dao.ProductMapper" >
    <select id="showProducts" resultType="product">
        SELECT * from tab_product
        <where>
        <if test="keyword !='' and keyword !=null">
           AND (pname LIKE "%"#{keyword}"%" OR pdesc LIKE "%"#{keyword}"%")
        </if>
           AND  pflag=1
        </where>

    </select>
    <!--根据商品的id查询商品 -->
    <select id="getProductById" resultType="com.eb.pcshop.portal.pojo.po.ProductIndex" >
        select
        i.pid,
        i.pname,
        i.shopPrice,
        i.pdesc,
        i.pimage,
        c.cname as cname
        from tab_product i
        left join tab_category c on i.cid=c.cid
        where i.pid=#{pid}
    </select>
</mapper>