<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eb.pcshop.portal.dao.ProductMapper" >
    <select id="showProducts" resultType="product">
        SELECT * from tab_product
        <where>
        <if test="keyword !='' and keyword !=null">
           AND (pname LIKE "%"#{keyword}"%" OR pdesc LIKE "%"#{keyword}"%")
        </if>
           AND  pflag=1
        </where>

    </select>
</mapper>